OBJ/*.crf
OBJ/*.o
OBJ/*.d
OBJ/*.iex
OBJ/*.lst
OBJ/*.axf
OBJ/*.htm
OBJ/*.lnp
OBJ/*.map
OBJ/*.plg
OBJ/*.sct
OBJ/*.Bak
OBJ/*.dep
OBJ/*.tra
OBJ/*.bin
OBJ/*.hex
USER/*.plg
USER/*.dep
USER/*.Administrator
USER/*.bak
USER/*.uvgui*
USER/*.scvd
*uvopt
*.TMP